<% provide(:title, "Sign in") %>
<h1>로그인</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(:session,	url: sessions_path ) do |f| %>
			<%= f.label 	:email %>
			<%= f.text_field :email %>
			<%= f.label 	:password %>
			<%= f.password_field	:password %>
			<%= f.submit "Sgin in" , 	class: "btn btn-large btn-primary" %>
		<% end %>
		<p>
			<%= link_to "회원 가입", signup_path %>
		</p>	
	</div>
</div>